@model List<Modelos.Musica>
@{
    ViewBag.Title = "Género";
}

<h2>Música por Género</h2>
<table class="table">
    <tr>

        <th>
            @Html.Label("Id")
            @*@Ajax.ActionLink("Song", "Alfabetico", "Musica", new AjaxOptions { UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })*@
        </th>
        <th>
            @Html.Label("Canción")
            @*@Ajax.ActionLink("Artist", "Alfabetico", "Musica", new AjaxOptions { UpdateTargetId = "result", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })*@
        </th>
        <th>
            @Html.Label("Artista")
        </th>
        <th>
            @Html.Label("Género")
        </th>
        <th>
        </th>
</tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Id)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Nombre)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Autor.Nombre)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Genero.Nombre)
            </th>
            <th>
                @Html.ActionLink("Agregar a Carrito", "AgregarCarrito", "Carrito",
                new { id = item.Id }, "")
            </th>
        </tr>
    }
</table>